[Unit]
Description=Nvidia Powerd Restart on Profile Change
After=graphical-session.target

[Service]
ExecStart=%h/.local/bin/nvidia-profile-monitor.sh
Restart=always

[Install]
WantedBy=default.target
